$container: 0 16vw;
$tablet_s: 800px;
$cbase: transparent;
$cbaseDull: #abb9cc;
$cmain: rgba(8, 6, 6, 0.673);
$cfont: rgba(0, 0, 0, 0.673);
$csecond: rgba(0, 0, 0, 0.571);
$cfont-light: #555555;
$chigh: $cmain;
$bradius: 5px;